@charset "UTF-8"; 

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap'); /*fonte da pagina de cadastro*/

:root{
    --corfundo: hsla(0, 0%, 5%, 0.4);
    --corverde: hsla(133, 22%, 37%, 0.6);
    --corverde2: hsla(125, 18%, 25%, 0.6);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Playfair Display", serif;
}
.fundo{
    background-image: url(../imagens/fundo.png), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-blend-mode: multiply;
    position: fixed;
    width: 100%;
    height: 100%;
}
body{
    background-color: var(--corfundo);
}
ul{ /*link para cadastrar com conta google*/
    list-style-type: none;
}
li{
    font-size: 12px;
}
.google{ /*link para cadastrar com conta google*/
    text-decoration: none;
    border: 1px solid var(--corverde);
    padding: 3px 5px;
    border-radius: 8px;
    display: inline;
}
a:hover{
    opacity: 0.8;
}
.container{/*container principal*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;   
} 
.box {
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 10px;
    width: 98vw;
    height: 60vh;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    background-color: var(--corfundo);
} 
.box::before{
    content: "";
    position: absolute;
    background-color: var(--corverde);
    width: 40%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.4);
    left: 0;
    
}

/*PRIMEIRO BOX*/
.primeiro-box {/*box cadastrar, que tem link para entrar*/
    display: flex;
} 
.coluna-um{/*para ir para o login*/
    width: 40%;
    text-align: center;
    z-index: 10;

} 
.coluna-dois{ /*para realizar o cadastro*/
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
}
/*SEGUNDO BOX*/
.segundo-box{ /*para realizar o login com link para ir para o cadastro*/
    position: absolute;
    display: flex;
}

/*POSICIONAMENTO DOS BOXES
Primeira parte*/

.primeiro-box .coluna-dois{
    z-index: 11;
}
.segundo-box .coluna-um {
    order: 2;
    z-index: -1;
}
.segundo-box .coluna-dois {
    order: 1;
    z-index: -1;
}


/*TEXTOS*/
h2{
    font-size: 20px;
}
p{
    font-size: 12px;
}

.titulo{
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.paragrafo{
    text-align: center;
}
.social-midia{
    margin-top: 6px;
}

form {
    display: flex;
    flex-direction: column;
}
a{
    text-align: center;
    font-size: 12px;
}
.img-input{
    display: flex;
    align-items: center;
    background-color: var(--corverde);
    border-radius: 6px;
    margin-bottom: 10px;
    gap: 5px;
}
.img-input img{
    width: 22px;
    padding: 2px 0 2px 2px;
    color: #ffffff;
}
input{
    border: none;
    border-radius: 8px;
    padding: 8px ;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
input:focus{
    background-color: white;
    color: var(--corverde2);
    outline: none;
}
button{
    padding: 7px;
    border-radius: 6px;
    border: none;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    background-color: var(--corverde2);
}

button:hover{
    cursor: pointer;
    opacity: 0.8;
}

/*POSICIONAMENTO DOS BOXES PARA TRANSIÇÃO JS
.entrar-js E .cadastrar-js serão adicionados no js*/

.entrar-js .primeiro-box .coluna-um {
    z-index: -1;
    opacity: 0;
}
.entrar-js .primeiro-box .coluna-dois {
    z-index: -1;
    opacity: 0;
}
.entrar-js .segundo-box .coluna-um {
    z-index: 14;
    animation: surgir 1s;
}
.entrar-js .segundo-box .coluna-dois {
    z-index: 12;   
    animation: surgir 1s;
}
.entrar-js .box::before {
    left: 60%;
    border-radius: 0 10px 10px 0;
    animation: slidein 1s;
    z-index: 13;
    box-shadow: -2px 0px 3px rgba(0, 0, 0, 0.4);
}
/**/

.cadastrar-js .segundo-box .coluna-um {
    z-index: -1; 
    opacity: 0;
}
.cadastrar-js .segundo-box .coluna-dois {
    z-index: -1; 
    opacity: 0;

}

.cadastrar-js .primeiro-box .coluna-um {
    z-index: 14;
    animation: surgir 1s;
}
.cadastrar-js .primeiro-box .coluna-dois {
    z-index: 12; 
    animation: surgir 1s;
}
.cadastrar-js .box::before {
    animation: slideout 1s;
    z-index: 13;
}

/* DESLOCAMENTO CONTEÚDO ATRÁS DO BOX:BEFORE*/

.entrar-js .primeiro-box .coluna-dois {
    z-index: -1;
    position: relative;
    animation: deslocamentoEsq 2s forwards;
}

.cadastrar-js .segundo-box .coluna-dois {
    position: relative;
    z-index: -1;
    animation: deslocamentoDir 2s forwards;
}


/*Responsividade*/

@media screen  and (min-width: 768px) and (max-width: 992px) {
    .box{
        width: 80vw;
    }
    h2{
        font-size: 28px;
    }
    p{
        font-size: 16px;
    }
    a{
        font-size: 14px;
    }
}

@media screen  and (min-width: 992px) {
    .box{
        width: 60vw;
    }
    h2{
        font-size: 28px;
    }
    p{
        font-size: 16px;
    }
    a{
        font-size: 14px;
    }
}

/*ANIMAÇÕES*/
@keyframes slidein{
    from {
        left: 0;
    }
    to{
        left: 60%;
    }
}

@keyframes slideout{
    from {
        left: 60%;
    }
    to{
        left: 0;
    }
}

@keyframes deslocamentoEsq{
    from {
        left: 0;
        opacity: 1;
    }
    20%{
        opacity: 0;
    }
    to {
        left: -100px;
        opacity: 0;
    }
}
@keyframes deslocamentoDir{
    from {
        left: 0;
        opacity: 1;
    }
    20%{
        opacity: 0;
    }
    to {
        left: 100px;
        opacity: 0;
    }
}

@keyframes surgir{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
