@charset "UTF-8"; 
:root{
    --corbege: #e6ecf1;
    --cormarromclaro: #A69B7D;
    --cormarromescuro: #9D7B6F;
    --corvermelho: #8C463F;
    --corverde: #5E8C65;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    height: 100vh;
    background-color: var(--corbege);
}
/*
form{
    background-color: var(--cormarromclaro);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 20px;
}
#label{

}

input{
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 8px;
}

button{
    padding: 5px;
    border-radius: 6px;
    border: none;
    width: ;
}*/